@media screen and (max-width: 2000px) {
  :root {
    --primary-color: #199cdb;
  }

  .container {
    margin-left: 30px;
    margin-right: 30px;
  }

  .product-info {
    position: relative;
  }
  .name {
    position: absolute;
    color: white;
    padding-top: 100px;
    padding-left: 41%;
  }
  .anhcanhan {
    width: 100%;
    height: 300px;
  }
  .nav {
    display: flex;

    margin-bottom: 0;
    height: auto;
    height: 60px;
    justify-content: center;
  }
  .nav p:hover {
    background-color: rgb(51, 59, 71);
    color: orangered;
  }

  .sloganup {
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
  }
  .slogan {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
  }
  /*phần nav */
  .navbar {
    /* display: flex; */
    /* display: grid; */
    /* grid-template-columns: 150px 150px 300px 150px 150px; */

    justify-content: center;
    /* font-family: "open sans light"; */

    position: relative;
    padding: 0;
    align-items: normal;
    /* height: 50px; */
  }

  .navbar > * {
    min-width: 120px;
    color: black;
    border-left: 1px solid rgba(10, 10, 10, 0.1);
    border-right: 1px solid rgba(10, 10, 10, 0.1);
    text-align: center;
    align-content: center;
    padding: 0.7rem 0;
    /* justify-content: center; */
    background-color: rgba(10, 10, 10, 0.1);
    border-radius: 20px;
  }
  /*
  .nav {
    background-color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-left: solid 1px grey;
    margin-top: 0;
    margin-bottom: 0;
    height: 60 px;
  }
  .nav i {
    color: var(--primary-color);
  }*/

  /*thông tin cá nhân*/
  .thongtin1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .thongtincanhantitle {
    margin-top: 10px;
  }
  .hidden {
    display: none;
  }

  .btnsubmit {
    background-color: #199cdb;
    border-radius: 20px;
    margin-bottom: 10px;
    border: solid 0.5px black;
  }
  /*.btnsubmit:hover {
    background-color: aliceblue;
    text
  }
  /*ẩn thông tin kinh nghiệm nghề nghiệp*/
  .read-more:hover .view-more {
    visibility: visible;
  }
  .view-more {
    visibility: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .hide {
    display: none;
  }

  /*muctieunghenghiep*/
  .muctieunghenghiep {
    padding-top: 10px;
    background-color: rgb(197, 192, 192);
    padding-left: 30px;
  }

  .thongtincanhan {
    padding-left: 40px;
    background-color: rgb(157, 155, 155);
  }

  .muctieunghenghiep > div {
    font-size: 20px;
    font-weight: bold;
  }
  .thongtin2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 50px;
    margin: 20px 70px;
  }

  .thongtin2 > div {
    border: solid 1px black;
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
  }
  .title i {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    max-height: 60px;
  }

  .thongtin2 div .mark1 {
    background: var(--primary-color);
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }

  .mark2 {
    background: grey;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  #free-code-camp {
    border: solid 1px #199cdb;

    border-radius: 40px;
    background-color: #199cdb;
  }
  /*chungchi*/
  .chungnhan {
    font-weight: bold;
    font-size: 20px;
  }

  .chungchi {
    background-color: rgb(221, 219, 219);
    margin-top: 10px;
    padding: 30px 30px;
  }
  /*căn chỉnh hình ảnh và vị trí text của phần chứng chỉ*/
  .bangcap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
  }

  .mechanic div,
  .japanese div {
    float: right;
    margin-left: 20px;
  }
  .mechanic {
    border-left: solid 2px #d6c08d;
    padding-left: 10px;
  }

  .chungchi1,
  .chungchi2 {
    width: auto;
    height: 150px;
  }
  /*project*/
  h4 {
    font-weight: bold;
    font-size: 30px;
  }
  .titleduan {
    padding-left: 30px;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-top: 0;
  }

  .project img {
    width: 100%;
    height: 300px;
  }
  .year {
    border: solid 1px rgb(0, 0, 255, 0.1);

    border-radius: 25px;
    text-align: center;

    background-color: rgb(0, 0, 255, 0.1);
  }
  .icon-user-1,
  .icon-lamp {
    color: aqua;
  }
  .duan,
  .duan1,
  .duan2 {
    border: solid 1px black;
    display: inline-block;
    width: 100%;
  }
  .duan-info,
  .duan1-info,
  .duan2-info {
    display: flex;
    border-top: solid 1px rgb(221, 219, 219);
  }
  table,
  tr {
    border: solid 1px rgb(221, 219, 219);

    border-collapse: collapse;
    max-width: 800px;
  }
  .tdok {
    margin-left: 30px;
  }
  /*lienhe*/
  .lienhe {
    background-color: rgb(221, 219, 219);
    height: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
  }
  .lienhe i {
    margin-right: 50px;
  }
}
