@media screen and (max-width: 920px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .active {
    display: none;
  }
  .thongtincanhantitle {
    margin-top: 10px;
  }
  .hidden {
    display: none;
  }
  .btnsubmit {
    background-color: #199cdb;
  }

  .thongtin2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } /*ẩn thông tin kinh nghiệm ngề nghiệp*/

  .read-more:hover .view-more {
    visibility: visible;
  }
  .view-more {
    visibility: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .hide {
    display: none;
  }

  .viewmore {
    display: none;
    background-color: #d6c08d;
    margin-bottom: 20px;
  }
  /*căn chỉnh phần chứng chỉ và bằng cấp*/

  .japanese,
  .mechanic {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .japanese div,
  .mechanic div {
    margin-left: 0;
    margin-top: 10px;
  }
  .chungchi1,
  .chungchi2 {
    width: auto;
    height: 150px;
  }
}
